---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  path?: string;
}

const baseURL = "https://reversed-r.dev";

const {
  title = "ゃーのホームページ",
  description = "ゃーのホームページです",
  image = "/icon.png",
  path = "/",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />

    <meta name="description" content={description} />

    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={baseURL + image} />
    <meta property="og:image:width" content="120" />
    <meta property="og:image:height" content="120" />
    <meta property="og:url" content={baseURL + path} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@reversed_R" />
    <meta name="twitter:creator" content="@reversed_R" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={baseURL + image} />
    <meta name="twitter:image:alt" content="OGP画像" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;

    font-family: "Source Code Pro", sans-serif;
  }
</style>
